---
// import Default from "../layouts/Default.astro"
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>assets</title>
		<meta
			name="description"
			content="A collection of assets used in basics of digitial communication at hbk bs - codepen.io does not allow upload without a pro account"
		/>
		<meta name="color-scheme" content="light" />
		<meta name="keywords" content="assets, hbk bs, digicom, 24/25" />
		<meta name="author" content="Fabian ff6347 Morón Zirfas" />
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/base.css" />
		<style>
			body {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
				margin: 0 auto;
				flex-direction: column;
				background-image: url("images/striped-tile@2x.png");
				background-size: 25px 25px;
			}

			h1 {
				font-size: 2rem;
				background-color: white;
			}
			p {
				text-align: center;
				background-color: white;
			}
			#credits {
				position: absolute;
				width: max-content;
				bottom: 10px;

				right: 10px;

				background-color: white;

				margin: 0;
				font-size: 0.6em;

				p {
					text-align: right;
					margin: 0;
					padding: 0;
				}
			}
		</style>
	</head>

	<body>
		<h1>Assets</h1>
		<p>used &commat; hbkbs digicom 24/25</p>
		<p>
			<a href="./overview">&rarrw; overview</a>
		</p>
		<div id="credits">
			<p>
				built with ❤ by <a href="https://github.com/ff6347">ff6347</a>
			</p>
			<p>source @ <a href="https://github.com/ff6347/assets">github</a></p>
		</div>
	</body>
</html>
