---
import Layout from "../layouts/Blank.astro";
import "../../public/css/reset.css";
import "../../public/css/base.css";
---

<Layout title="Test">
	<article>
		<style>
			#colors {
				display: grid;
				grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
				gap: var(--s1);
			}
			.color-box-wrapper {
				display: flex;
				flex-direction: row;
				font-size: 0.89em;
				gap: var(--s1);
			}
			.color-box {
				width: 100px;
				height: 100px;
				border: 1px solid var(--dark-color);
				padding: var(--s1);
			}
		</style>
		<section>
			<h2>Colors</h2>
			<div id="colors">
				<div class="color-box-wrapper">
					<div
						class="color-box"
						style="background-color: var(--primary-color); color: var(--text-color-light);"
					>
						<span>Primary </span>
					</div>
					<p>
						<code>--primary-color</code>
					</p>
				</div>
				<div class="color-box-wrapper">
					<div
						class="color-box"
						style="background-color: var(--secondary-color); color: var(--text-color-light);"
					>
						<span>Secondary</span>
					</div>
					<p>
						<code>--secondary-color</code>
					</p>
				</div>
				<div class="color-box-wrapper">
					<div
						class="color-box"
						style="background-color: var(--dark-color); color: var(--text-color-light);"
					>
						<span>Dark</span>
					</div>
					<p>
						<code>--dark-color</code>
					</p>
				</div>
				<div class="color-box-wrapper">
					<div
						class="color-box"
						style="background-color: var(--light-color); color: var(--text-color);"
					>
						<span>Light</span>
					</div>
					<p>
						<code>--light-color</code>
					</p>
				</div>
				<div class="color-box-wrapper">
					<div
						class="color-box"
						style="background-color: var(--highlight-color); color: var(--text-color-light);"
					>
						<span>Highlight</span>
					</div>
					<p>
						<code>--highlight-color</code>
					</p>
				</div>
				<div class="color-box-wrapper">
					<div
						class="color-box"
						style="background-color: var(--code-background-color); color: var(--text-color);"
					>
						<span>Code Background</span>
					</div>
					<p>
						<code>--code-background-color</code>
					</p>
				</div>
				<div class="color-box-wrapper">
					<div
						class="color-box"
						style="background-color: var(--link-color); color: var(--text-color-light);"
					>
						<span>Link</span>
					</div>
					<p>
						<code>--link-color</code>
					</p>
				</div>
				<div class="color-box-wrapper">
					<div
						class="color-box"
						style="background-color: var(--link-hover-color); color: var(--text-color-light);"
					>
						<span>Link Hover</span>
					</div>
					<p>
						<code>--link-hover-color</code>
					</p>
				</div>
				<div class="color-box-wrapper">
					<div
						class="color-box"
						style="background-color: var(--text-color); color: var(--text-color-light);"
					>
						<span>Text</span>
					</div>
					<p>
						<code>--text-color</code>
					</p>
				</div>
				<div class="color-box-wrapper">
					<div
						class="color-box"
						style="background-color: var(--text-color-light); color: var(--text-color);"
					>
						<span>Text Light</span>
					</div>
					<p>
						<code>--text-color-light</code>
					</p>
				</div>
			</div>
		</section>
		<section>
			<h1>Test h1</h1>
			<p>
				Test p lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex
				obcaecati iusto eum libero accusamus nam quisquam dicta nisi iure
				aperiam magni earum ea dolor, <a href="#">cumque</a> architecto corporis
				<code>corrupti</code> itaque illo!
			</p>
		</section>
		<section>
			<h2>Test h2</h2>
			<p>
				Test p lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex
				obcaecati iusto eum libero accusamus nam quisquam dicta nisi iure
				aperiam magni earum ea dolor, cumque architecto corporis <code
					>corrupti</code
				> itaque illo!
			</p>
			<h3>Test h3</h3>
			<p>
				Test p lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex
				obcaecati iusto eum libero accusamus nam quisquam dicta nisi iure
				aperiam magni earum ea dolor, cumque architecto corporis <code
					>corrupti</code
				> itaque illo!
			</p>
			<h4>Test h4</h4>
			<p>
				Test p lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex
				obcaecati iusto eum libero accusamus nam quisquam dicta nisi iure
				aperiam magni earum ea dolor, cumque architecto corporis <code
					>corrupti</code
				> itaque illo!
			</p>
			<h5>Test h5</h5>
			<p>
				Test p lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex
				obcaecati iusto eum libero accusamus nam quisquam dicta nisi iure
				aperiam magni earum ea dolor, cumque architecto corporis <code
					>corrupti</code
				> itaque illo!
			</p>
			<h6>Test h6</h6>
			<p>
				Test p lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex
				obcaecati iusto eum libero accusamus nam quisquam dicta nisi iure
				aperiam magni earum ea dolor, cumque architecto corporis <code
					>corrupti</code
				> itaque illo!
			</p>
			<ul>
				<li>Test li</li>
				<li>Test li</li>
				<li>Test li</li>
				<li>
					<ul>
						<li>Test li</li>
						<li>Test li</li>
						<li>Test li</li>
						<li>
							<ul>
								<li>Test li</li>
								<li>Test li</li>
								<li>Test li</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<pre>
			<code>
{`function fibonacci(n) {
	if (n <= 1) return n;
	return fibonacci(n - 1) + fibonacci(n - 2);
	}

	// Generate the first 10 Fibonacci numbers
	for (let i = 0; i < 10; i++) {
		console.log(fibonacci(i));
}`}
	</code>
</pre>
		</section>
		<section>
			<small>Test small with <code>code</code></small>
		</section>
		<section>
			<div class="note">
				Test note with <code>code</code> and <a href="#">link</a> and more text to
				see how it looks like.
			</div>
		</section>
	</article>
</Layout>
