---
import Layout from "../layouts/Blank.astro";
import "../../public/css/reset.css";
import "../../public/css/base.css";
---

<Layout title="Test">
	<h1>Test h1</h1>
	<h2>Test h2</h2>
	<h3>Test h3</h3>
	<h4>Test h4</h4>
	<h5>Test h5</h5>
	<h6>Test h6</h6>
</Layout>

<p>
	Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex obcaecati iusto
	eum libero accusamus nam quisquam dicta nisi iure aperiam magni earum ea
	dolor, cumque architecto corporis corrupti itaque illo!
</p>

<pre>
	<code>
{`function fibonacci(n) {
    if (n <= 1) return n;
    return fibonacci(n - 1) + fibonacci(n - 2);
}

// Generate the first 10 Fibonacci numbers
for (let i = 0; i < 10; i++) {
    console.log(fibonacci(i));
}`}
	</code>
</pre>
